<nav class="navbar navbar-dark  navbar-expand-sm fixed-top justify-content-end">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" href="/"><img src="img/mapaMex.png" height="30" width="41" class="animate__animated animate__bounce"></a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active "><a class="nav-link" href="/"><strong>Inicio</strong></a></li>
                <li class="nav-item"><a class="nav-link" href="/#about"><strong>Acerca de</strong></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><strong>Destinos</strong></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><strong>Conctacto</strong></a></li>
            </ul>
        </div>
    </div>

</nav>